<div class="container w-50 ">
  <div class="d-flex flex-column m-4 justify-content-center">

    <a class="text-center">
      <img src="./assets/image/ondes-sonores.png" width="200" class="d-inline-block  m-2" alt="">
    </a>
      <p class="text-center">Bienvenue sur LS MUSIC, votre destination musicale ultime. Notre plateforme vous offre un accès facile à un vaste répertoire de musique, d'artistes et de genres musicaux.Chez LS MUSIC, la musique est bien plus qu'une simple expérience auditive, c'est une aventure. Rejoignez-nous dès aujourd'hui et laissez la magie de la musique vous envahir.
      </p>
    <a class="text-center">
      <img src="./assets/image/globe.png" width="200" class="d-inline-block  m-2" alt="">
    </a>
    <p class="text-center">La musique n'a pas de frontières. Nous vous emmenons à la découverte de sonorités du monde entier. Que vous aimiez les rythmes locaux ou que vous soyez curieux de nouvelles musiques internationales, nous avons tout ce qu'il vous faut. Partez à l'aventure musicale avec nous.
    </p>

    <div class="d-flex align-items-center justify-content-center mt-4" *ngIf="url_spotify">
      <iframe [src]="url_spotify"
              width="300"
              height="80"
              frameborder="0"
              allowtransparency="false"
              allow="encrypted-media">
      </iframe>
    </div>

  </div>
</div>
