<div class="container w-50 ">
  <div class="d-flex flex-column m-4">
    <a class="text-center">
      <img src="./assets/image/ondes-sonores.png" width="200" class="d-inline-block align-top" alt="">
    </a>
      <p class="text-center">Bienvenue sur LS MUSIC, votre destination musicale ultime. Notre plateforme vous offre un accès facile à un vaste répertoire de musique, d'artistes et de genres musicaux.Chez LS MUSIC, la musique est bien plus qu'une simple expérience auditive, c'est une aventure. Rejoignez-nous dès aujourd'hui et laissez la magie de la musique vous envahir.
      </p>
  </div>
</div>
