<div class="container w-100" *ngFor="let r of records">
  <div class="container w-100  justify-content-center mt-4">
    <h1> Découvrez le titre {{r.song}} de {{r.artist}} </h1>
    <p>{{r.countryOfOrigin}}</p>
    <p>Publié le {{r.publicationDate | date : 'dd/MM/yyyy'}}</p>
      <div class="d-flex justify-content-center mt-4">
        <iframe [src]="r.spotify"
                width="400"
                height="200"
                frameborder="5"
                allowtransparency="false"
                allow="encrypted-media">
        </iframe>
      </div>
    <h2> Info sur l'artiste </h2>
    
  </div>
</div>