<style>
  .selected-song {
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }
  table.table-hover>tbody>tr:hover > td {
      color: #fff;
      background-color: #000;
    }
  </style>

<div class="container w-75">
    <div class="row">
        <h1>Découvrez les meilleurs titres de {{ artisteLabel }}</h1>
        <div [ngClass]="{'container w-100': !recordSelected.song, 'container w-50': recordSelected.song}">
          <table class="table table-hover mt-4">
            <thead>
            <tr>
              <th>Titre</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let r of records" (click)="selectRecord(r)" [ngClass]="{'table-active': r.song === recordSelected.song}">
              <td>{{r.song}}</td>
              <td></td>
            </tr>
            </tbody>
          </table>
      </div>

      <div class="container w-50 selected-song" *ngIf="recordSelected.song">
        <div class="container w-100 mt-4">
          <h2>{{recordSelected.song}}</h2>
          <p> Un single de <span style="font-weight: bold">{{recordSelected.artist}}</span></p>
          <p>{{recordSelected.countryOfOrigin}}</p>
          <p>{{recordSelected.publicationDate | date : 'dd/MM/yyyy'}}</p>
            <div class="d-flex justify-content-center mt-4" *ngIf="recordSelected.spotify">
              <iframe [src]="recordSelected.spotify"
                      width="300"
                      height="200"
                      frameborder="0"
                      allowtransparency="false"
                      allow="encrypted-media">
              </iframe>
            </div>
  
        </div>
      </div>