<nav class="navbar navbar-expand border-bottom shadow-sm bg-white justify-content-start">
    <a class="navbar-brand ms-4 me-4" href="#">
      <img src="./assets/image/logo.svg" width="200" class="d-inline-block align-top" alt="">
    </a>
    <ul class="navbar-nav ms-4 me-4">
      <li class="nav-item">
        <a class="nav-link active mx-2" style="font-size: 120%" [routerLink]="RouteConstant.HOME" routerLinkActive="active">
          <strong>ACCUEIL</strong>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active mx-2" style="font-size: 120%" [routerLink]="" routerLinkActive="active"><strong>LIEN 2</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active mx-2" style="font-size: 120%" [routerLink]="" routerLinkActive="active"><strong>LIEN 3</strong></a>
      </li>
    </ul>
</nav>
